
h1, 
p{
	margin: 0 auto;
	width: 200px; 
	text-align: center;
}

.gameboard{
	margin: 0 auto;
	width: 300px;
	text-align: center;
	padding-top: 100px;
}
.square{
    width:100px;
    height:100px;
}

.v{
    border-left:4px solid #000;
    border-right:4px solid #000;

}

.h{
    border-top:4px solid #000;
    border-bottom:4px solid #000;
}

.x:after{	
	content: 'x';
	font-size: 2em;
	font-weight: bold;
	color: #FF5733;
}

.o:after{
	content: 'o';
	font-size: 2em;
	font-weight: bold;
	color: #2ECC71;
}

.restart{
	padding-top: 100px;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;

}

button{
	border-style: none;
}